
<link rel="stylesheet" href="/style/indexcs.css">

<div class="header">
        

            <h1 class="websitelogo">
                <!-- <img src="/style/images/weblogo.png" alt="">  </h1> -->
            <h1>Bellary Bazar</h1>

    

    </div>


    <!-- =============top side item and icon===================== -->


    <div class="menu">
        
           <p><a href="/"><img src="/images/house.jpg" alt="" width="50" height="50"></a></p>

        
        <div class="search">

    <img src="/images/serch.png" class="search-icon" alt="search">

    <input type="search" id="sh" placeholder="Search">

</div>
        <div class="more-option">
            <div class="like-item">
                <img src="/images/like1.jpg" alt="">

            </div>
            <div class="reg">
                <a href="/sign">
                <img src="/images/login.png" alt="">
                        </a>
            </div>
            <div class="cart">
                <a href="/cart">
                <img src="/images/cart.png" alt="">
                    </a>
            </div>

        </div>

    </div>

<!-- ================icons company============== -->
<div class="navigation">
    <div class="links">
        <a href="" class="nav-links">| Mobiles     |</a>
    </div>
 
     <div class="links">
        <a href="" class="nav-links">| Laptop  |</a>
    </div>
     <div class="links">
        <a href="" class="nav-links">| Burds  |</a>
    </div>
     <div class="links">
        <a href="" class="nav-links">| Electronic |</a>
    </div>
</div>
<!-- ==============worning===================== -->
 <!-- <div class="worning">
    <p><samp>⚠️ Warning</samp>: Please login or signup to continue.</p>
 </div> -->
  