
body{
    font-family: Arial;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.content{
    height: 100%;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    
}
.frame{
    /* height: 200px;
    width: 800px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 30px;
    align-items: center;
    /* border: 1px solid #ccc; */
    padding: 20px;
    
    
}

.frame img{
    width: 80%;
    height: 100%;
}
/* .frame{
    height: 200px;
    width: 200px;
} */

button{
    padding: 8px 15px;
    background: red;
    color: white;
    border: none;
    /* cursor: pointer; */
}

#buyBtn{
    margin-top: 20px;
    background: orange;
    font-size: 16px;
}
