<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/style/productcs.css'>
  <script src='indexcs.css'></script>
</head>
<body>
  <div class="about-product">
    <div class="plate1">
      <div class="produut">
        <img src="./images/l2.jpg" alt="" class="iphone17pro">
      </div>
     
    </div>
    <div class="plate2">
      <div class="name-of-product">
      <h1>Lenovo LOQ Essential</h1>
      </div>
      <div class="rating">
      <select name="" id="" class="select">
        <option value="1" ><p class="rating1">Rating</p></option>
        <option value="1">⭐</option>
        <option value="1">⭐⭐</option>
      <option value="1">⭐⭐⭐</option>
      <option value="1">⭐⭐⭐⭐</option>
      <option value="1">⭐⭐⭐⭐⭐</option>    
      </select>
    </div>
          <div class="price">
          <p class="price">30000</p>   
       </div>
          <div class="storage">
            <p class="s">Storage</p>
            <input type="button" value="128" class="storage-btn"></input>
          </div>
          <div class="quantity">
            <p>Quantity:</p>
            <input type="number" name="" id="" class="input-quantity">
          </div>
          <div class="addtocart-bynow">
            <input type="button" value="Add-To-Cart" class="add-to-cart">
<a href="./pay.html">
            <input type="button" value="Buy-now" class="buy-now">
            </a>          </div>
          <div class="discription-plate">
            <p class="discription">Discription:</p>
            <p class="discription-content">
              Lenovo LOQ Essential Intel Core i7 12650HX - 
              (16 GB/512 GB SSD/Windows 11 Home/6 GB Graphics/NVIDIA GeForce RTX 4050) 
              LOQ 15IAX9E Gaming Laptop (15.6 Inch, Luna Grey, With MS Office)  </p>
          </div>
    </div>
  </div>
  <script src="../java/product.js"></script>
</body>
</html>